@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #fdfaf1;
}

a{
    text-decoration: none;
    color: white !important;
}

ul{
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

.container-fluid{ 
    max-width: 1920px;
}

.sectionPadding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionMargin{
    margin-bottom: 50px;
}

/* nav ber start */
.Navber{
    background-color: var(--navBg);
}

.active{
    background-color: #962f2f;
}

.Navber li{
    margin-right: .5rem;
}

.Navber li a{
    color: #EAEAEA;
    fill: #EAEAEA;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.container-fluid .navbar-brand{ 
    width: 18%;
}

.container-fluid .navbar-brand img{ 
    max-height: 100px;
}

.navbar-nav i{
    width: 1em;
    height: 1em;
    font-weight: 900;
    color: var(--cartColor);
}

.NavbarNav2 li a {
    padding-left: 4px;
    padding-right: 3px;
}

.NavbarNav2 .Cart{
    position: relative;
}

.NavbarNav2 .Count{
    position: absolute;
    padding: 1px 5px ;
    margin-top: -8px;
    margin-left: -10px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    background-color: rgb(206, 0, 0);
}

.NavbarNav2 .Price{
    margin-left: .5rem;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
    font-size: 42px;
}
/* nav ber end */

/* Footer start */
footer{
    background-color: var(--footerBg);
}

footer ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc8c8;
    padding-bottom: 20px;
}

footer ul li a {
    color: black !important;
    font-size: 18px;
    font-weight: 500;
}

.FooterTitle{
    margin-bottom: 50px;
}

.FooterTitle h3{
    color: #232323;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.FooterHr{
    width: 20%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    opacity: 1;
}

.FooterImg p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.FooterImg img{
    width: 50%;
    margin-bottom: 20px;
}

.FooterImg p span{
    margin-left: 1.5rem;
}

.FooterContact li{
    padding: 0 !important;
    border: none !important;
    line-break: anywhere;
}

.FooterContact span{
    border-right: 1px solid black;
    margin-right: .5rem;
    padding-right: 3px;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.lastFooter{
    background-color: #f2f4ec;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(113, 113, 113);
}

.lastFooter a{
    color: black !important;
}

.imgeDIvlast{
    display: flex;
    justify-content: end;
}

.lastFooter img{
    width: 50%;
}

.footerSocilaIcon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerSocilaIcon ul li{
    border: none;
    padding: 5px ;
    margin: 0;
    display: inline;
    border-radius: 50%;
    color: white;
    background-color: var(--iconBg);
}

.footerSocilaIcon ul li i{
    color: white;
}
/* responsive start */
@media screen and (max-width: 991px) {
    .NavbarNav2{
        flex-direction: row;
    }

    .navbar-collapse{
        margin-top: 0.75rem;
    }

    .Navber li a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .NavbarNav2{
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .FooterTitle h3 {
        font-size: 25px;
    }

    .FooterTitle {
        margin-bottom: 25px;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 25px;
    }

    .lastFooter img{
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .FooterTitle {
        margin-bottom: 25px;
    }
    .FooterImg img {
        width: 65%;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 25px;
    }

    .lastFooter img{
        width: 100%;
        margin-top: 10px;
    }
}


@media only screen and (min-width: 280px) and (max-width: 428px) {
    .FooterTitle {
        margin-bottom: 10px;
    }

    .FooterImg img{
        margin-bottom: 10px;
    }

    .FooterImg p{
        margin-bottom: 10px;
    }

    .FooterTitle{
        margin-bottom: 10px;
    }

    footer ul li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .sectionPadding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .sectionMargin{
        margin-bottom: 10px;
    }

}

:root{
    --navBg: #000000;
    --sectionBg: #F2F4EC;
    --cartColor: #F27B43;
    --footerBg: #f5f3f1;
    --iconBg: #8A2828;
}



/* About US */
.about_page_section{
    background-image: linear-gradient(rgba(255, 254, 241, 0.918), rgba(255, 254, 241, 0.918)), url("../image/bg-footer.jpg");
    padding: 30px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about_page_section h1{
    margin-left: 30px;
    font-weight: 700;
    font-size: 50px;
}
#about_first_section{
   margin-top: 30px;
   margin-left: 30px;
   margin-right: 30px; 
}
#about_first_section img{
    height: auto;
    width: 100%;
}
#about_first_section p{
    font-size: 20px;
}
#about_second_section{
    margin-top: 50px;
}
.about_second_section_img{
    padding-left: 0;
    padding-right: 0;
}
.about_res_img{
    height: 550px;
    width: 100%;
}
#right_bg{
    background-image: url("../image/black-bg.jpg");
    padding: 50px;
}
#right_bg h4{
    color: #ffffff;
    margin-top: 60px;
}
#right_bg h2{
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
}
.about_page_button{
    background-color: #f27b43;
    color: #ffffff;
}
.about_page_button:hover{
    color: #a00505;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    .about_page_section h1{
        font-size: 40px;
    }
    .about_page_section h1{
        margin-left: 0;
    }
    #about_first_section{
        margin-left: 0;
        margin-right: 0;
    }
    #about_first_section img{
        margin-bottom: 30px;
    }
    .about_res_img{
        height: auto;
        width: 100%;
    }
    #right_bg{
        padding: 40px 20px;
    }
    #right_bg h2{
        font-size: 60px;
    }
    #right_bg h4{
        margin-top: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .about_page_section h1{
        font-size: 40px;
    }
    #right_bg h4{
        margin-top: 0px;
    }
    #about_first_section img{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1024px){
    .about_page_section h1{
        font-size: 40px;
    }
    #right_bg{
        padding: 40px 20px;
    }
    #right_bg h2{
        font-size: 60px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
    #right_bg h2{
        font-size: 60px;
    }
}

/* About US */


/* Contact Us */

.contact_page{
    background-image: linear-gradient(rgba(255, 254, 241, 0.918), rgba(255, 254, 241, 0.918)), url("../image/h4-background.png");
    padding: 30px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact_page h1{
    font-size: 50px;
    margin-left: 30px;
    font-weight: 700;
}
.contact_res_img{
    height: 550px;
    width: 100%;
}
.map_and_form_section{
    background-color: #ffffff;
    padding: 50px;
    margin-top: 30px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.contact_btn{
    background-color: black;
    color: #ffffff;
    width: 100%;
    border-radius: 24px;
}
.contact_btn:hover{
    color: #a00505;
}
#google_map{
    border-radius: 30px;
}
.contact_info{
    padding: 30px 0;
    margin-left: 30px;
    margin-right: 30px;
}
#contact_address{
    padding: 10px;
    border: 1px dashed #a00505;
    margin: 0 20px;
    border-radius: 10px;
}
#contact_address h5{
    font-size: 25px;
}
#contact_address p{
    margin-bottom: 0;
    font-size: 16px;
}

#contact_address i{
    color: #f27b43;
    font-size: 25px;
    padding-top: 15px;
}
#contact_phone{
    padding: 10px;
    border: 1px dashed #a00505;
    margin: 0 20px;
    border-radius: 10px;
}
#contact_phone h5{
    font-size: 25px;
}
#contact_phone p{
    margin-bottom: 0;
    font-size: 16px;
}
#contact_phone i{
    color: #f27b43;
    font-size: 25px;
    padding-top: 15px;
}
#contact_email{
    padding: 10px;
    border: 1px dashed #a00505;
    margin: 0 20px;
    border-radius: 10px;
    line-break: anywhere;
}
#contact_email h5{
    font-size: 25px;
}
#contact_email p{
    margin-bottom: 0;
    font-size: 16px;
}
#contact_email i{
    color: #f27b43;
    font-size: 25px;
    padding-top: 15px;
}
#contact_time{
    padding: 10px;
    border: 1px dashed #a00505;
    margin: 0 20px;
    border-radius: 10px;
}
#contact_time h5{
    font-size: 25px;
}
#contact_time p{
    margin-bottom: 0;
    font-size: 16px;
}
#contact_time i{
    color: #f27b43;
    font-size: 25px;
    padding-top: 15px;
}

.contact_last_section_img{
    padding-left: 0;
    padding-right: 0;
}
#contact_right_bg{
    background-image: url("../image/black-bg.jpg");
    padding: 50px;
}
#contact_right_bg h4{
    color: #ffffff;
    margin-top: 60px;
}
#contact_right_bg h2{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
}


@media only screen and (min-width: 280px) and (max-width: 428px){
    .contact_page h1{
        font-size: 40px;
        margin-left: 10px;
    }
    .map_and_form_section{
        margin: 30px 10px;
        padding: 30px 10px;
    }
    .contact_btn{
        margin-bottom: 30px;
    }
    .contact_info{
        margin-left: 0;
        margin-right: 0;
    }
    #contact_address{
        margin-top: 10px;
    }
    #contact_phone{
        margin-top: 10px;
    }
    #contact_time{
        margin-top: 10px;
    }
    #contact_email{
        margin-top: 10px;
    }
    #contact_right_bg{
        padding: 40px 20px;
    }
    #contact_right_bg h2{
        font-size: 60px;
    }
    #contact_right_bg h4{
        margin-top: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px){
    .contact_page h1{
        font-size: 40px;
    }
    .contact_info{
        padding: 30px;
    }
    .contact_btn{
        margin-bottom: 30px;
    }
    .contact_info{
        margin-left: 0;
        margin-right: 0;
    }
    #contact_address{
        margin-top: 10px;
    }
    #contact_phone{
        margin-top: 10px;
    }
    #contact_time{
        margin-top: 10px;
    }
    #contact_email{
        margin-top: 10px;
    }
    #contact_right_bg h4{
        margin-top: 0px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1024px){
    #contact_right_bg{
        padding: 40px 20px;
    }
    #contact_right_bg h2{
        font-size: 60px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    #contact_right_bg h2{
        font-size: 60px;
    }
}

/* Contact Us */

/* Blog */

#blog_page{
    padding: 50px;
}
#blog_page .card{
    padding: 20px;
    border-radius: 20px;
}
#blog_page .card h3{
    font-size: 35px;
    font-weight: 600;
}
#blog_page .card h3 a{
    color: black !important;
}
#blog_page .card p a{
    color: #8A2828 !important;
}
.blog_btn{
    background-color: black;
    width: 250px;
    border-radius: 24px;
}
/* #sidebar{
    margin-right: 50px;
} */
.search_bar_div{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
}
.form-control{
    padding: 5px !important;
}

.form-control-lg{
    border-radius: 24px;
}
.form-control-lg{
    font-size: 14px !important;
}

.form-control{
    padding: 15px;
    border-radius: 24px;
}
.blog_search_btn{
    background-color: #010101;
    color: #EAEAEA;
    border-radius: 24px;
}
.blog_search_btn:hover{
    color: #F27B43;
}
.latest_post{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px; 
    margin-top: 30px;
}
.latest_post ul li a{
    color: #8A2828 !important;
}
.latest_post ul{
    padding-top: 30px;
}
.latest_post ul li {
    padding: 5px 0;
}

.post_category{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px; 
    margin-top: 30px; 
}
.post_category ul li a{
    color: #8A2828 !important;
}
.post_category ul li {
    padding: 5px 0;
}
.post_category ul {
    padding-top: 30px;
}

@media only screen and (min-width: 280px) and (max-width: 428px){
    #blog_page{
        padding: 50px 10px;
    }
    #sidebar{
        margin-right: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px){
    #blog_page{
        padding: 50px 10px;
    }
    #sidebar{
        margin-right: 0px;
    }
}

/* Blog */

/* Blog Single */

#blog_single_page{
    padding: 50px 50px;
}
#blog_single_page a{
    color: #8A2828 !important;
}
#blog_single_page img{
    padding-bottom: 20px;
    border-radius: 30px;
}
.single_blog_btn{
    background-color: black;
    color: #ffffff;
    border-radius: 24px;
}
.single_blog_btn:hover{
    background-color: black;
    color: #ffffff;
}

@media only screen and (min-width: 280px) and (max-width: 428px){
    #blog_single_page{
        padding: 50px 10px;
    }
    #sidebar{
        margin-top: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px){
    #blog_single_page{
        padding: 50px 10px;
    }
    #sidebar{
        margin-top: 50px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1024px){

}
@media only screen and (min-width: 1025px) and (max-width: 1440px){

}

/* Blog Single */

/* Delivery Section */

#delivery_section {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}
#delivery_content{
    display: flex;
    align-items: center;
    padding: 0 80px;
}
#delivery_content h5{
    color: #F27B43;
    font-size: 30px;
}
#delivery_content h2{
    font-size: 120px;
    font-family: "Londrina Solid", Sans-serif;
    color: #a00505;
    line-height: 100px;
}
#delivery_content p{
    font-size: 20px;
}
#delivery_content .delivery_btn{
    background-color: #8A2828;
}
#delivery_section img{
    width: 100%;
    height: auto;
}
.delivery_feature{
    background-color: #8A2828;
    padding: 40px;
    border-radius: 30px;
}
.delivery_feature h3{
    font-size: 70px;
    color: #ffee00;
    font-family: "Londrina Solid", Sans-serif;
}
.delivery_feature p{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
}
.delivery_feature i{
    color: #ffffff;
    font-size: 50px;
    padding-top: 15px;
}
.delivery_feature .border_left{
    border-right: 2px dashed #ffee00;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #delivery_content{
        padding: 0;
    }
    #delivery_section{
        padding: 0 10px;
    }
    #delivery_content h2{
        font-size: 80px;
        line-height: 1.1;
    }
    .delivery_feature .border_left{
        border-bottom: 2px dashed #ffee00;
        border-right: 0;
        padding: 10px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px){
    #delivery_content{
        padding: 0;
    }
    #delivery_section{
        padding: 0 10px;
    }
    .delivery_feature .border_left{
        border-bottom: 2px dashed #ffee00;
        border-right: 0;
        padding: 10px 0;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1024px){
    #delivery_content h2{
        font-size: 50px;
        line-height: 50px;
    }
    #delivery_content p {
        font-size: 16px;
    }
    .delivery_feature h3{
        font-size: 50px;
    }
    .delivery_feature i{
        font-size: 40px;
    }
    .delivery_feature {
        padding: 10px 30px;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    #delivery_content h2{
        font-size: 65px;
        line-height: 80px;
    }
}
/* Delivery Section */

/* checkout Page */

#checkout_page{
    padding: 50px 0;
}
#checkout_page .price_section{
    border: 1px dashed #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}
#checkout_page #tips ul li{
    display: inline-block;
    border: 1px dashed #1f1f1f;
    padding: 10px;
    border-radius: 5px;
}
#checkout_page #tips ul li a{
    color: #2b2b2b !important;
}
#price_total_divider{
    border: 1px dashed #1a1a1a;
}
.price_section p{
    padding: 3px 0;
}
.form-select{
    border-radius: 24px;
}
#payment_card_section{
    border: 1px solid #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}
.paypal_btn{
    width: 100%;
    border-radius: 24px;
}
#checkout_page .fa-cc-paypal {
    font-size: 35px;
}
#checkout_page .fa-money-bill-1-wave{
    font-size: 35px;
}
.place_order_btn{
    width: 100%;
    border-radius: 24px;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #checkout_page{
        padding: 50px 10px;
    }
    #checkout_page #tips{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px){
    #checkout_page #tips{
        margin-top: 30px;
    } 
}
/* checkout Page */