*{
    margin: 0 ;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: var(--sectionBg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cartColor); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

a{
    text-decoration: none;
    color: white !important;
}

.addBtn{
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    background-color: var(--cartColor) !important;
    font-size: 15px;
    font-weight: 700 !important;
    margin-bottom: 10px;
    border-radius: 40px;
}

ul{
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

.container-fluid{ 
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
}

.sectionPadding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionMargin{
    margin-bottom: 30px;
}

.smalText{
    color: #3e4349 !important;
    margin-bottom: 5px;
    font-size: 14px !important;
    opacity: .5;
    margin-bottom: 10px;
}

/* nav ber start */
.Navber{
    background-color: var(--navBg);
    border-bottom: 3px solid var(--iconBg);
    padding: 0;
}

.active{
    background-color: #962f2f;
}

.Navber li{
    margin-right: .5rem;
}

.Navber li a{
    color: #EAEAEA;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.container-fluid .navbar-brand{ 
    width: 18%;
}

.container-fluid .navbar-brand img{ 
    max-height: auto;
    height: auto;
    max-width: 150px;
}

.navbar-nav i{
    width: 1em;
    height: 1em;
    font-weight: 900;
    color: white;
}

.NavbarNav2 li a {
    padding-left: 4px;
    padding-right: 3px;
}

.NavbarNav2 .Cart{
    position: relative;
}

.NavbarNav2 .Count{
    position: absolute;
    padding: 1px 5px ;
    margin-top: -8px;
    margin-left: -10px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    background-color: rgb(206, 0, 0);
}

.NavbarNav2 .Price{
    margin-left: .5rem;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
    font-size: 42px;
}
/* nav ber end */

/* Footer start */
footer{
    background-color: var(--footerBg);
}

footer ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc8c8;
    padding-bottom: 20px;
}

footer ul li a {
    color: black !important;
    font-size: 18px;
    font-weight: 500;
}

.FooterTitle{
    margin-bottom: 50px;
}

.FooterTitle h3{
    color: #232323;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.FooterHr{
    width: 20%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    opacity: 1;
}

.FooterImg p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.FooterImg img{
    width: 50%;
    margin-bottom: 20px;
}

.FooterImg p span{
    margin-left: 1.5rem;
}

.FooterContact li{
    padding: 0 !important;
    border: none !important;
    line-break: anywhere;
}

.FooterContact span{
    border-right: 1px solid black;
    margin-right: .5rem;
    padding-right: 3px;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.lastFooter{
    background-color: #f2f4ec;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(113, 113, 113);
}

.lastFooter a{
    color: black !important;
}

.imgeDIvlast{
    display: flex;
    justify-content: end;
}

.lastFooter img{
    width: 50%;
}

.footerSocilaIcon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerSocilaIcon ul li{
    border: none;
    padding: 5px ;
    margin: 0;
    display: inline;
    border-radius: 50%;
    color: white;
    background-color: var(--iconBg);
}

.footerSocilaIcon ul li i{
    color: white;
}
/* footer end */

/* heros start */
.carousel-item img{
    max-height: 420px;
}

.carousel-item{
    position: relative;
    margin-bottom: 20px;
}

.carosulChildDIv{
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0;
    align-items: center;
}

.carosulChildDIv h2{
    text-align: center !important;
    font-family: 'Bree Serif';
    color: #ffffff;
    font-size: 312.5%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--iconBg);
    font-weight: 700;
    font-size: 20px;
}
/* heros end */

/* Banner start */
.Banner img{
    margin-bottom: 20px;
    min-height: 60px;
}
/* Banner end */

/* Product start */
.sectionTitle{
    color: var(--cartColor);
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.ProdctDiv{
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 6px #716d6d70;
}

.ProdctDiv .ImageBox,
.Blog .ImageBox{
    border-radius: 10px;
    overflow: hidden;
    height: 225px;
    margin-bottom: 20px;
}

.productext h3{
    color: var(--iconBg);
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.productext p{
    font-size: 25px;
    font-weight: 600;
    color: var(--cartColor);
}

.ProdctDiv{
    position: relative;
}

.cardIcon{
    position: absolute;
    top: 6px;
    right: 6px;
    color: white;
}

.cardIcon li{
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(119, 119, 119);
    background-color: var(--cartColor);
}

.share{
    display: none;
}

.cardIcon ul{
    margin: 0;
}

.cardIcon li:not(:last-child){
    margin-bottom: 7px;
}

.cardIcon li i{
    margin-top: 1px;
}

.ProdctDiv:hover .cardIcon{
    padding: 7px;
    border-radius: 7px;
    background-color: white;
}

.ProdctDiv:hover .share{
    display: block;
}

.AllView .addBtn{
    font-size: 18px !important;
}
/* product end */

/* Best Food start */
.BestFood{
    display: flex;
    align-items: center;
}

.BestFood img{
    margin-bottom: 20px;
}

.BestFood .sectionTitle{
    text-align: left !important;
}

.about_second_section_img img{
    border-radius: 0;
}

.Experience p{
    color: white !important;
}

.ExperienceMain{
    overflow: hidden;
    padding-bottom: 20px;
}

.ExperienceMain #right_bg h2 {
    font-size: 51px;
}
/* Best Food end */

/* Cartipicat start */
.CartipicatImg{
    max-width: 900px;
    margin: auto;
    padding-bottom: 20px;
}
/* Cartipicat end */

/* google review start */
.GoogleReview .sectionTitle{
    margin-bottom: 20px;
}

.GoogleReviewP{
    text-align: center;
    margin-bottom: 40px;
}

.owl-carousel.owl-drag .owl-item {
    background: rgba(255, 255, 255, 0);
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.owl-carousel .item{
    box-shadow: 0 0 2px #716d6d70;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-bottom: 20px;
}

.ReviewFrist{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(55, 54, 54);
}

.ReviewFristImg img{
    padding-right: .5rem;
}

.ReviewFristText .Name{
    font-size: 15px;
    font-weight: 700;
}

.ReviewFristText ul{
    margin: 0;
    padding: 0;
    color: var(--cartColor);
}

.ReviewFristText ul li{
    display: inline;
    font-size: 14px;
}

.ReviewSecon{
    padding: 10px;
}

.ReviewSecon p{
    font-size: 14px;
    line-height: 20px;
}

.owl-carousel{
    position: relative;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{
    background: var(--cartColor);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
}
/* google review end */

/* Blog section start */
.Blog{
    margin-bottom: 20px;
}

.BlogCard{
    background-color: white;
    box-shadow: 0 0 3px #716d6d70;
    border-radius: 12px;
    overflow: hidden;
}

.blogText{
    padding: 10px;
}

.Blog h4{
    color: #F27B43;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.Blog p{
    line-height: 1.5em;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.blogText a{
    display: block;
    display: inline-block;
    /* align-items: center;
    justify-content: space-between; */
}

.Blog .blogText{
    margin-top: -57px;
}

.Blog .UserPic{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* Blog sectin end */

/* Menu Page start */
.MenuList{
    padding: 20px;
    color: white;
    font-weight: 600;
    position: sticky;
    top: 50px;
    border-radius: 12px;
    background-color: var(--cartColor);
}

.MenuList li input{
    margin-right: .5rem;
}

.MenuList li{
    cursor: pointer !important;
}
/* Menu Page end */

/* product page start */
.ProductBg{
    height: 550px;
    width: 100%;
    background-image: url(../images/procuctbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.BgBlack{
    position: absolute;
    height: 550px;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    overflow: visible;
}

.ProductBg h1{
    max-width: 425px;
    margin: auto;
    text-align: center;
    color: var(--logoColor-2);
    color: white;
    padding: 10px;
    font-size: 34px;
    padding-top: 40px;
}

.PeoudctBigImgage .ProductImg{
    height: 324px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 12px;
}

.PeoudctBigImgage .ProductImg img{
    height: 100%;
}

.AnotherImg{
    display: flex;
    width: 100%;
}

.AnotherImg img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.AnotherImg img:not(:last-child){
    margin-right: .5rem;
}

.ProductDaitlesdiv{
    max-width: 1200px;
    width: 85%;
    margin: auto;
    background-color: var(--section-bg);
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgb(207 207 207) 0px 0px 5px;
    margin-top: -319px;
}

.ProductDaitlesdiv img{
    border-radius: 9px;
}

.PriceP{
    font-weight: 600;
    font-size: 24px;
    color: var(--logoColor-1);
    margin-bottom: 1rem !important;
}

.PriceP span{
    margin-left: .3rem;
    color: rgb(79, 79, 79);
}

.SmalDisciption{
    font-size: 20px;
    color: rgb(52, 52, 52);
    margin-bottom: 1rem !important;
    overflow: hidden;
}

.ProductBtn{
    display: flex;
    flex-wrap: wrap;
}

.ProductBtn button{
    font-weight: 400 !important;
    background-color: var(--logoColor-1);
    width: 185px;
}

.ProductBtn button:hover{
    background-color: var(--logoColor-2);
}

.ProductBtn button i{
    margin-right: .5rem;
}

.ProductBtn button:not(:last-child){
    margin-right: 1rem;
}

.CataTagId {
    margin-bottom: 1.2rem;
}

.CataTagId p {
    margin-bottom: .5rem;
}

.CataTagId p span{
    font-weight: 600;
}

.RightSide h4{
    font-size: 32px;
    margin-bottom: 20px;
}

.RightSide .ProductBtnIncement{
    justify-content: left !important;
    width: 200px;
    margin-bottom: 1.2rem;
}

.RightSide .Incement{
    width: 200px;
}

.VariantColor{
    margin-bottom: 1rem;
}

.VariantColor span{
    font-weight: 500;
}

.ProductColor button{
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin-top: .5rem;
    margin-right: .5rem;
    outline: 4px solid transparent;
}

.ProductColor button:hover{
    outline: 4px solid black;
}

.ColorBtn1:hover{
    background-color: var(--logoColor-1);
}

.ColorBtn2{
    background-color: rgb(238, 7, 7);
}

.ColorBtn3{
    background-color: blue;
}

.ColorBtn2:hover{
    background-color: rgb(238, 7, 7);
}

.ColorBtn3:hover{
    background-color: blue;
}

.Variant{
    margin-top: .5rem;
}

.VariantImgs{
    display: flex;
    flex-wrap: wrap;
}

.Variant .VariantImgs{
    margin-top: .5rem;
}

.Variant .VarImg{
    width: 87px;
    height: 73px;
    border-radius: 5px;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.Variant .VarImg img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.Incement{
    height: 45px;
    background-color: var(--iconBg);
    width: 90%;
    margin: auto;
    border-radius: 35px;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.Incement .Plus,
.Incement .Minnus{
    font-size: 25px;
    height: 35px;
    width: 35px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--cartColor);
}

.Incement .Plus,
.Incement .Minnus{
    font-size: 19px;
    height: 28px;
    width: 28px;
    padding: 0;
}

.Incement .Plus:hover,
.Incement .Minnus:hover{
    background-color: white;
    color: black;
}

    /* tabe review and disciption start */
    .ReviewAndDis{
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .nav-tabs li,
    .nav-tabs li button{
        width: 150px;
        text-align: center;
        margin: 0;
    }

    .nav-tabs .nav-item{
        background: none;
        border: none;
        margin-right: .5rem;
        padding: 0;
        bottom: none;
    }

    .nav-tabs li button{
        padding: 6px 30px;
        font-size: 20px;
        font-weight: 600px;
        background: none !important;
        border-radius: 15px 15px 0 0  !important;
    }

    .nav-tabs li button:hover{
        background: var(--cartColor) !important;
    }

    .nav-tabs li:hover{
        background: none;
    }
    
    .nav-tabs li .active{
        color: white !important;
        border: none;
        background: var(--cartColor) !important;
    }
    
    .nav-tabs li .active button{
        background: var(--logoColor-2) !important;
    }
    
    .tab-content .tab-pane{
        padding: 20px ;
        border-radius: 10px;
        border-top: 1px solid rgb(219, 213, 213);
    }

    .tab-content .active{
        color: rgb(4, 4, 4) !important;
        background-color: white;
    }

    .Disciption{
        font-size: 19px;
    }

    .ReviewDiv2{
        height: 350px;
        overflow-x: auto;
    }

    .ReviewDiv label,
    .ReviewDiv input{
        display: block !important;
        width: 100%;
        text-align: left !important;
    }

    .ReviewDiv label{
        margin-bottom: .5rem;
        font-weight: 600;
    }

    .ReviewDiv input{
        margin-bottom: .5rem;
    }

    .ReviewDiv textarea{
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        margin-bottom: .5rem;
        border: 1px solid var(--logoColor-1);
    }

    .ReviewDiv h4{
        text-align: left;
    }

    .ReviewDiv .revied{
        background-color: var(--cartColor) !important;
    }

    .ReviewDiv form input{
        border-radius: 20px;
        outline: 0;
        height: 40px;
        padding: 10px;
        border: 1px solid rgb(97, 97, 97);
    }

    .ReviewDiv form textarea{
        border-radius: 12px;
        outline: 0;
        padding: 10px;
        border: 1px solid rgb(97, 97, 97);
    }

    .PatingDiv p{
        font-weight: 600;
        margin-bottom: .2rem;
        text-align: left;
    }

    .PatingDiv ul {
        text-align: left;
    }

    .PatingDiv ul li {
        display: inline-block;
    }

    .PatingDiv ul i{
        color: var(--cartColor);
        margin-right: .3rem;
        margin-bottom: .5rem;
    }

    .ReviewDiv button{
        background-color: var(--logoColor-1) !important;
        margin: auto;
        font-weight: 500;
        margin-top: .5rem;
    }

    .PersonReview{
        display: flex;
    }

    .PersonImg{
        height: 60px;
        width: 60px;
        border-radius: 100%;
        overflow: hidden;
        padding: 0;
        margin-right: .7rem;
    }

    .PersonImg img{
        height: 100% !important;
        width: 100% !important;
    }

    .PersonReview .perosName{
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin-bottom: .3rem;
    }

    .PersonReview .pesonReview{
        text-align: left !important;
    }

    .PersonReview .PatingDiv i{
        margin-right: 0;
        font-size: 14px;
    }
    /* tabe review and disciption end */

    /* banner start */
    .BannerEihttext{
        position: relative;
        border-radius: 12px;
        overflow: hidden;
    }

    .BannerEihttext .HerosTextunder{
        text-align: center;
    }

    .BannerEihttext .HerosText{
        justify-content: right;
        padding-right: 5%;
    }
    /* banner end */

    .RelatedProduct .sectionTitle{
        text-align: left;
        font-size: 28px;
    }   

.ChargeDiv{
    background-color: white;
    padding: 10px;
    border-radius: 12px;
}

.ChargeDiv .title{
    margin-bottom: 15px;
    color: var(--cartColor);
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.ChargeDiv .panel-body p{
    margin-bottom: 10px;
}

.panel-body img {
    width: 23%;
    max-width: 66px;
    margin-bottom: 10px;
}

.RightRelated .ImageBox{
    height: 143px;
}

.RightRelated button{
    display: none;
}

.SearchBer input{
    padding-left: 15px;
    padding-right: 20px;
    border: none;
    box-shadow: 0 0 5px #962f2f93;
    border-radius: 24px;
    height: 32px;
    outline: none;
    width: 339px;
}

.SearchBer form{
    position: relative;
    width: min-content;
    margin: auto;
}

.SearchBer label{
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    padding: 4.5px 10px;
    color: white;
    border-radius: 0 20px 20px 0 ;
    background-color: var(--iconBg);
}
/* product page end */

/* cart page start */
.single-tab{
    background-color: transparent;
    text-align: center;
}

.table-responsive{
    background-color: white;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.single-tab img{
    height: 70px;
    width: 70px;
}

.single-tab a{
    color:black !important;
}

.revel-table .table-responsive thead {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.quantity {
    width: 154px;
    height: 40px;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 5px;
    border-radius: 12px;
    overflow: hidden;
}

.quantity input {
    width: 100%;
    height: 100%;
    padding: 0 65px;
    font-size: 14px;
    border: none;
    text-align: center;
}

.quantity .quantity-nav {
    border-left: 1px solid #ddd;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.quantity-button {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-right: 1px solid #ddd;
    background: var(--cartColor);
}

.quantity-button:last-child {
    border-right: 0;
    border-left: 1px solid #ddd;
}

.revel-table .table-responsive .cart-delete {
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #ddd;
    color: #606060;
    border-radius: 50%;
}

.quantity .quantity-nav .quantity-button:hover {
    background: var(--footerBg);
    border-color: var(--cartColor);
    color: #060606;
}

.table-responsive .cart-delete:hover {
    color: red;
    border-color: red;
}

.cart-total-panel{
    padding-left: 10px;
    overflow: hidden;
    background: white;
    border-radius: 12px;
    padding: 11px;
}

.cart-total-panel .title{
    margin-bottom: 15px;
    color: var(--cartColor);
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

.panel-body h5{
    color: #7a7878;
    margin-bottom: 7PX;
}

.TotalDiv{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid var(--iconBg); 
}

.panel-body span{
    font-size: 19px;
    font-weight: 600;
    color: #f27b43;
}

.btn-box {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0px;
}

.btn-box .def-btn:first-child {
    background: var(--cartColor);
}   

.def-btn {
    display: block;
    height: 39px;
    border-radius: 8px;
    line-height: 34px;
    padding: 2px 12px;
    background: var(--cartColor);
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
}

.btn-box2 a{
    color: #ffffff !important;
}

.CartPage{
    margin-bottom: 20px;
}
/* cart page end */

/* login start */
.LoginSection{
    background: white;
    padding: 4rem 0;
    margin-bottom: 0;
}

.LoginFoote{
    margin-top: 0 !important;
}

.Login{
    max-width: 450px;
    margin: auto;
    background-color: white;
    color: black;
    padding: 0 5px;
    border-radius: 7px;
    box-shadow: 0 0 10px #bdbdbd;
    overflow: hidden;
}

.Login h4{
    margin-bottom: 0;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 13px 24px;
    font-size: 28px;
}

.LginForm label,
.LginForm input{
    display: block;
    margin: auto;
    width: 100%;
}

.LginForm{
    padding: 2rem 25px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.LginForm input{
    border-radius: 30px !important;
    box-shadow:  0 0 5px rgb(185, 185, 185);
}

.LginForm label,
.LginForm input{
    margin-bottom: .7rem;
    text-align: left;
}

.LginForm input{
    margin-bottom: 1rem;
    border-radius: 7px;
    padding-left: 20px;
    margin-bottom: 1rem;
    border-radius: 7px;
    padding-left: 20px;
    height: 40px;
    outline: none;
    border: none;
}

.LginForm input:focus{
    box-shadow: 0 0 7px rgb(214, 79, 0);
}

.FaBtn{
    border: none;
    outline: none;
    background: none;
}

.LginForm button{ 
    border: none;
    outline: none;
    padding: 6px 36px;
    background-color: var(--cartColor);
    color: white;
    border-radius: 30px;
    margin: auto;
    box-shadow: 0 0 5px rgb(185 127 93);
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    width: 100%;
}

.LoginOr{
    padding: 13px 25px;
}

.LoginOr button{
    color: var(--logoColor-1);
    height: 36px;
    width: 36px;
    font-size: 25px;
    text-align: center;
    padding: 0;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    border-radius: 50%;
    margin-top: .5rem;
    margin-right: .5rem;
}

.FprgtpassowardDiva{
    display: block;
    font-style: italic;
    color: #535353;
}

.FprgtpassowardDiva:hover{
    text-decoration: underline;
    color: blue;
}

.FprgtpassowardDivin{
    height: 10px;
    width: 10px !important;
    margin-top: -10px;
}

.registerDiv{
    padding-bottom: 20px;
}

.RegistBtn{
    color: #323232;
    border-radius: 7px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    text-decoration: underline;
}

.RegistBtn:hover{
    color: blue;
}

.SingInForm{
    display: flex;
    flex-wrap: wrap;
}

.SingInForm div{
    padding: 0 10px;
    width: 100%;
}

#SingDiv{
    display: none;
}

button.FaBtn.RegistBtn.LoginBtn{
    margin-top: 1rem;
}

.LoginBtn a{
    background-color: white !important;
    color: black !important;
}

.ForgotPassowrdDiv{
    display: none;
}

.OrderTracking{
    border-bottom: none;
}
/* login end */


/* responsive start */
@media screen and (min-width: 1400px) {
    .ProductDaitlesdiv{
        left: calc((100% - 1200px)/2);
    }
}

@media screen and (min-width: 991px) and (max-width: 1088px) {
    .AnotherImg img {
        width: 88px;
    }
}

@media screen and (max-width: 991px) {
    .LoginBtn{
        margin-top: 20px;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .NavbarNav2{
        flex-direction: row;
    }

    .navbar-collapse{
        margin-top: 0.75rem;
    }

    .Navber{
        padding-bottom: 15px;
    }

    .Navber li a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .NavbarNav2{
        margin-top: 1rem;
    }

    .sectionTitle{
        color: var(--cartColor);
        font-size: 35px;
        text-align: center;
        margin-bottom: 25px;
    }

    .carousel-item {
        margin-bottom: 10px;
    }

    .Banner img {
        margin-bottom: 10px;
    }
    
    .ProdctDiv .ImageBox{
        height: 154px;
        margin-bottom: 10px;
    }

    .ProdctDiv .ImageBox img{
        height: 154px;
    }

    .productext p {
        margin-bottom: 10px;
    }

    .ExperienceMain{
        padding-bottom: 10px;
    }

    .owl-carousel .item{
        margin-bottom: 10px;
    }

    .table-responsive{
        overflow-x: scroll;
    }

    .RightRelated{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .FooterTitle h3 {
        font-size: 25px;
    }

    .FooterTitle {
        margin-bottom: 25px;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 15px;
    }

    .lastFooter img{
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    /* .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    } */

    .Width50{
        width: 50%;
    }

    .Product{
        padding: 0 5px;
    }

    .FooterTitle {
        margin-bottom: 25px;
    }
    .FooterImg img {
        width: 65%;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 25px;
    }

    .lastFooter img{
        width: 100%;
        margin-top: 10px;
    }

    .carousel-item{
        margin-bottom: 0px;
    }

    .sectionTitle {
        font-size: 26px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .BestFood img,
    .Blog .UserPic,
    .Banner img,
    .Blog h4,
    .Blog p{
        margin-bottom: 10px;
    }
      
    .GoogleReview .sectionTitle {
        margin-bottom: 15px;
    }

    .GoogleReviewP {
        margin-bottom: 15px;
    }

    .MenuList li{
        display: inline-block !important;
        margin-right: 0.7rem;
    }
    
    .ReviewAndDis{
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .table-responsive{
        margin-bottom: 20px;
    }
    
    .RightSide h4{
        margin-bottom: 10px;
    }

    .PriceP {
        margin-bottom: 10px!important;
    }

    .CataTagId {
        margin-bottom: 10px;
    }

    .Variant .VarImg:last-child {
        margin-bottom: 0rem;
    }

    .VariantColor {
        margin-bottom: 10px;
    }

    .RightSide .ProductBtnIncement {
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 280px) and (max-width: 450px) {
    .ProdctDiv {
        margin-bottom: 10px;
    }

    .FooterTitle {
        margin-bottom: 10px;
    }

    .FooterImg img{
        margin-bottom: 10px;
    }

    .FooterImg p{
        margin-bottom: 10px;
    }

    .FooterTitle{
        margin-bottom: 10px;
    }

    footer ul li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .sectionPadding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .sectionMargin{
        margin-bottom: 10px;
    }
    
    .carosulChildDIv h2 {
        font-size: 24px;
    }

    .container-fluid .navbar-brand {
        width: 48%;
    }
    
    .sectionMargin{
        margin-bottom: 10px;
    }

    .sectionMargin {
        margin-bottom: 10px;
    }  
    
    .GoogleReview .sectionTitle {
        margin-bottom: 10px;
    }

    .GoogleReviewP {
        margin-bottom: 10px;
    } 

    .owl-carousel .item{
        margin-bottom: 10px;
    } 

    .MenuList li input {
        margin-right: 0.2rem;
    }

    .MenuList {
        font-size: 13px;
    }

    .addBtn{
        font-size: 13px;
    }

    .productext h3 {
        font-size: 15px;
    }

    .productext p {
        font-size: 20px;
    }
    
    .CartPage{
        margin-bottom: 0px;
    }

    .btn-box2{
        margin-bottom: 10px;
    }

    .SearchBer input,
    .SearchBer form{
        width: 100%;
    }

    .ProductBtn button:not(:last-child) {
        margin-right: .3rem !important;
    }

    .ProductBtn button {
        width: 150px;
    }
}

:root{
    --navBg: #000000;
    --sectionBg: #F2F4EC;
    --cartColor: #393939;
    --footerBg: #f5f3f1;
    --iconBg: #8A2828;
}