*{
    margin: 0 ;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: var(--sectionBg);
}

a{
    text-decoration: none;
    color: white !important;
}

ul{
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

.container-fluid{ 
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
}

.sectionPadding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.sectionMargin{
    margin-bottom: 30px;
}
/* nav ber start */
.Navber{
    background-color: var(--navBg);
}

.active{
    background-color: #962f2f;
}

.Navber li{
    margin-right: .5rem;
}

.Navber li a{
    color: #EAEAEA;
    fill: #EAEAEA;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.container-fluid .navbar-brand{ 
    width: 18%;
}

.container-fluid .navbar-brand img{ 
    max-height: 100px;
}

.navbar-nav i{
    width: 1em;
    height: 1em;
    font-weight: 900;
    color: var(--cartColor);
}

.NavbarNav2 li a {
    padding-left: 4px;
    padding-right: 3px;
}

.NavbarNav2 .Cart{
    position: relative;
}

.NavbarNav2 .Count{
    position: absolute;
    padding: 1px 5px ;
    margin-top: -8px;
    margin-left: -10px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    background-color: rgb(206, 0, 0);
}

.NavbarNav2 .Price{
    margin-left: .5rem;
}

.navbar-toggler{
    color: white;
}

.navbar-toggler-icon {
    width: auto;
    height: auto;
    font-size: 42px;
}
/* nav ber end */

/* Footer start */
footer{
    background-color: var(--footerBg);
}

footer ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc8c8;
    padding-bottom: 20px;
}

footer ul li a {
    color: black !important;
    font-size: 18px;
    font-weight: 500;
}

.FooterTitle{
    margin-bottom: 50px;
}

.FooterTitle h3{
    color: #232323;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.FooterHr{
    width: 20%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
    opacity: 1;
}

.FooterImg p{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.FooterImg img{
    width: 50%;
    margin-bottom: 20px;
}

.FooterImg p span{
    margin-left: 1.5rem;
}

.FooterContact li{
    padding: 0 !important;
    border: none !important;
    line-break: anywhere;
}

.FooterContact span{
    border-right: 1px solid black;
    margin-right: .5rem;
    padding-right: 3px;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.lastFooter{
    background-color: #f2f4ec;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(113, 113, 113);
}

.lastFooter a{
    color: black !important;
}

.imgeDIvlast{
    display: flex;
    justify-content: end;
}

.lastFooter img{
    width: 50%;
}

.footerSocilaIcon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerSocilaIcon ul li{
    border: none;
    padding: 5px ;
    margin: 0;
    display: inline;
    border-radius: 50%;
    color: white;
    background-color: var(--iconBg);
}

.footerSocilaIcon ul li i{
    color: white;
}
/* footer end */

/* heros start */
.carousel-item img{
    max-height: 420px;
}

.carousel-item{
    position: relative;
    margin-bottom: 20px;
}

.carosulChildDIv{
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0;
    align-items: center;
}

.carosulChildDIv h2{
    text-align: center !important;
    font-family: 'Bree Serif';
    color: #ffffff;
    font-size: 312.5%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 20px;
}

.carosulChildDIv .button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: var(--iconBg);

}
/* heros end */

/* Banner start */
.Banner img{
    margin-bottom: 20px;
}
/* Banner end */

/* Product start */
.sectionTitle{
    color: var(--cartColor);
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.Product{
    /* padding-left: ; */
}

.ProdctDiv{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}

.ProdctDiv .ImageBox{
    border-radius: 5px;
    overflow: hidden;
    height: 225px;
    margin-bottom: 20px;
}

.productext h3{
    color: var(--iconBg);
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.productext p{
    font-size: 25px;
    font-weight: 600;
    color: var(--cartColor);
}
/* product end */

/* responsive start */
@media screen and (max-width: 991px) {
    .NavbarNav2{
        flex-direction: row;
    }

    .navbar-collapse{
        margin-top: 0.75rem;
    }

    .Navber li a {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .NavbarNav2{
        margin-top: 1rem;
    }

    .sectionTitle{
        color: var(--cartColor);
        font-size: 35px;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px){
    .FooterTitle h3 {
        font-size: 25px;
    }

    .FooterTitle {
        margin-bottom: 25px;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 25px;
    }

    .lastFooter img{
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .FooterTitle {
        margin-bottom: 25px;
    }
    .FooterImg img {
        width: 65%;
    }

    .sectionPadding{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .sectionMargin{
        margin-bottom: 25px;
    }

    .lastFooter img{
        width: 100%;
        margin-top: 10px;
    }

    .carousel-item{
        margin-bottom: 0px;
    }

    .Banner img{
        margin-bottom: 0px;
    }
}


@media only screen and (min-width: 280px) and (max-width: 428px) {
    .FooterTitle {
        margin-bottom: 10px;
    }

    .FooterImg img{
        margin-bottom: 10px;
    }

    .FooterImg p{
        margin-bottom: 10px;
    }

    .FooterTitle{
        margin-bottom: 10px;
    }

    footer ul li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .sectionPadding{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .sectionMargin{
        margin-bottom: 10px;
    }
    
    .carosulChildDIv h2 {
        font-size: 24px;
    }

    .container-fluid .navbar-brand {
        width: 48%;
    }
    
    .sectionMargin{
        margin-bottom: 10px;
    }

}

:root{
    --navBg: #000000;
    --sectionBg: #F2F4EC;
    --cartColor: #F27B43;
    --footerBg: #f5f3f1;
    --iconBg: #8A2828;
}